@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --background-contrast: 239 241 248;

    --primary: 127 100 253; 
    --neutral: 155 155 155;

    --title: 208 192 41;
    --typography: 80 80 80;

    --alert: 208 192 41;
    --danger: 235 44 44;

    --border: 230 224 255;
  }
}

@layer base {
  body {
    @apply bg-background text-typography font-nevermind;
  }

  button, a {
    @apply outline-none focus-visible:ring-primary focus-visible:ring-2 ring-offset-2
  }
}

